{% extends '@App/base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
{% set _token = csrf_token('DELETE_CAR_TOKEN') %}
<h3>Mes véhicules</h3>
<table>
    <thead>
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Première immatriculation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{car.marque}}</td>
            <td>{{car.modele}}</td>
            <td>{{car.premiereImmat|date("m/d/Y")}}</td>
            <td>
                <a href="{{ path('app_account_carupdate',{id :car.id}) }}" class="">
                    <span>Voir</span>
                </a>
                <a href="{{ path('app_account_cardelete',{id : car.id,_token:_token}) }}" class="">
                    <span>Supprimer</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="modal-trigger waves-effect waves-light btn" href="#updateCar">Ajouter un véhicule</a>
<!-- Modal Structure -->
<div id="updateCar" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Ajouter un véhicule</h4>
        {{ form_start(formCar) }}
        {{ form_end(formCar) }}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal();
});
</script>
{% endblock %}
