{% extends '@App/base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Statistique</h1>

    <div class="row">
      <div class="col s8">
        <table class="responsive-table ">
          <thead>
              <tr>
                  <th>
                    <i class="material-icons">perm_identity</i>
                    <span class='icon-text'>Total utilisteurs</span>
                  </th>
                  <th>
                    <i class="material-icons">directions_car</i>
                    <span class='icon-text'>Total véhicules</span>
                  </th>
                  <th>
                    <i class="material-icons">build</i>
                    <span class='icon-text'>Total maintenances</span>
                  </th>
              </tr>
          </thead>

          <tbody>
            <tr>
              <td><h4>{{ users }}</h4></td>
              <td><h4>{{ cars }}</h4></td>
              <td><h4>{{ maintenances }}</h4></td>
            </tr>
          </tbody>
        </table>

        <table class="responsive-table ">
          <thead>
              <tr>
                  <th>
                    <i class="material-icons">perm_identity</i>
                    <span class='icon-text'>Utilisateurs possédant le plus de véhicules</span>
                  </th>
                  <th>
                    <i class="material-icons">directions_car</i>
                    <span class='icon-text'>Nombre de véhicules possédées par l'utilisateur</span>
                  </th>
              </tr>
          </thead>

          <tbody>
            <tr>
              <td><h5>{{ max_cars[0] }}</h5></td>
              <td><h4>{{ max_cars[1] }}</h4></td>
            </tr>
          </tbody>
        </table>

        <table class="responsive-table ">
          <thead>
              <tr>
                  <th>
                    <i class="material-icons">directions_car</i>
                    <span class='icon-text'>Véhicule possédant le plus de maintenances</span>
                  </th>
                  <th>
                    <i class="material-icons">build</i>
                    <span class='icon-text'>Nombre de maintenances faites sur le véhicule</span>
                  </th>
              </tr>
          </thead>

          <tbody>
            <tr>
              <td><h5>{{ max_maintenances[0] }} {{ max_maintenances[1] }} {{ max_maintenances[2] }} <br> {{ max_maintenances[3] }} {{ max_maintenances[4] }}km</h5></td>
              <td><h4>{{ max_maintenances[5] }}</h4></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s4 center-align">
        <h3>Total</h3>
        <canvas id="stats_all"></canvas>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s7  ">
        <table class="responsive-table ">
          <thead>
              <tr>
                  <th>
                    <i class="material-icons">directions_car</i>
                    <span class='icon-text'>Marque</span>
                  </th>
                  <th>
                    <span class='icon-text'>Nombre de véhicule de cette marque</span>
                  </th>
              </tr>
          </thead>

          <tbody>
            {% for marque in nbmarque %}
              <tr>
                <td>{{ marque["marque"] }}</td>
                <td>{{ marque["nb_marque"] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col s5">
        <h4>Top 3 Marque</h4>
        <canvas id="stats_color"></canvas>
      </div>
    </div>

    <script>
      var ctx = document.getElementById("stats_all");
      var stats_all = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ["Utilisateurs", "Véhicules", "Maintenances"],
              datasets: [{
                  data: ["{{ users }}", "{{ cars }}", "{{ maintenances }}"],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)'
                  ]
              }]
          },
          options: {
              responsive: true
          }
      });

      var ctx = document.getElementById("stats_color");
      var stats_all = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for marque in nbmarque %}
                         "{{ marque["marque"] }}",
                       {% endfor %}],
              datasets: [{
                  label: 'Marques',
                  data: [{% for marque in nbmarque %}
                           "{{ marque["nb_marque"] }}",
                         {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)'
                  ]
              }]
          },
          options: {
              responsive: true,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1
                      }
                  }]
              }
          }
      });
    </script>
{% endblock %}
