{% extends '@App/base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>
    <table class="responsive-table ">
        <thead>
            <tr>
                <th class="sm">ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Véhicules</th>
                <th>Modifier</th>
                <th>Compte Actif ?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					<td>
					<ul id="dropdown_vehicule_{{ user.id }}" class="dropdown-content">
				 		{% for car in user.cars %}
							<li><a href="{{ path('app_account_carupdate', {id:car.id}) }}">{{car}}</a></li>
						{% endfor %}
					</ul>
					<a class='dropdown-button btn' href='#' data-activates='dropdown_vehicule_{{ user.id }}' onclick="$('#dropdown_vehicule_{{ user.id }}').dropdown()"><i class="medium material-icons">settings</i></a>

					</td>
					<td><a class="waves-effect waves-light btn" href="{{ path('app_adminuser_updateuser', {id:user.id}) }}"><i class="medium material-icons">mode_edit</i></a></td>
					<td>
						<a class="waves-effect waves-light btn" href="#modal_delete_{{ user.id }}" onclick="$('#modal_delete_{{ user.id }}').modal()">
							<i class="medium material-icons">
								{% if(user.isActive) %}
									lock_open</i></a>
								{% else %}
									lock
								{% endif %}
							</i>
						</a>
						{% set _tokenToggleUser = csrf_token('TOGGLE_USER_TOKEN') %}
						<div id="modal_delete_{{ user.id }}" class="modal">
							<div class="modal-content">
								{% if(user.isActive) %}
									<h4>Désactiver l'utilisateur</h4>
									<p>Êtes-vous sûr de vouloir désactiver l'utilisateur <span class="blue-text">{{ user.username }}</span></p>
								{% else %}
									<h4>Activer l'utilisateur</h4>
									<p>Êtes-vous sûr de vouloir activer l'utilisateur <span class="blue-text">{{ user.username }}</span></p>
								{% endif %}
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect waves-gray btn-flat red-text">Annuler</a>
								<a href="{{ path('app_adminuser_toggleuser',{id:user.id,_token:_tokenToggleUser}) }}" class="modal-action modal-close waves-effect waves-gray btn-flat blue-text">
									{% if(user.isActive) %}
										Désactiver
									{% else %}
										Activer
									{% endif %}
								</a>
							</div>
						</div>
					</td>
           </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">
                            Aucun utilisateur trouvé.
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
		$(document).ready(function() {
			$(".dropdown-button").dropdown();
	  	});
	</script>
{% endblock %}
