{% extends '@App/base.html.twig' %}

{# app/Resources/views/registration/register.html.twig #}

{% block title %}Inscription{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{{ form_row(form.username) }}
		{{ form_row(form.email) }}
		{{ form_row(form.phone) }}
		{{ form_row(form.plainPassword.first) }}
		{{ form_row(form.plainPassword.second) }}

		<button type="submit" class="waves-effect waves-light btn">S'inscrire</button>
	{{ form_end(form) }}
{% endblock %}